<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matrix</title>
</head>
<body>
<h2><a href="{{ url_for('index') }}">Go Home</a></h2>
<h1>
    <p align ="center"><i><b>Lets start calculate</b></i></p>
</h1>

</body>
</html>
